#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background: rgb(106,237,16);
    background: radial-gradient(circle, rgba(106,237,16,1) 0%, rgba(45,144,239,1) 16%, rgba(15,240,238,1) 37%, rgba(44,208,240,1) 54%, rgba(230,0,255,1) 74%);
}
